header {
  position: fixed;
  background-color: #18b3d6;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
  width: 100%
}

header::after {
  clear: both;
  content: '';
  display: table;
}

#header-img {
  width: 90px;
  height: 40px;
  float: left;
  padding-top: 1.7em;
}

nav ul{
  float: right;
  margin-right: 2em;
}
nav li{
  display: inline;
  padding: 1em;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

#about-us {
  background-color: #444;
  color: white;
  Padding: 20em;
  background-image: url(https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;

}

main {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  text-align: center;
}

#videos {
  text-align: center;
  padding: 3.5em;
  }

#video {
  margin: 0 auto;
}

img {
  width: 20em;
  height: 14em;
  margin: 10px;
}
#photos {
   background-color:#f2efea;
   padding: 3em;
}
#photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input{
  height: 2em;
  border: none;
  transition: 0.1s;
}
input:hover {
    border-bottom: 2px solid black;
}
#form {
  text-align: center;
  padding: 2em;
}

#submit {
  border-radius: 5px;
  padding: 0.5em;
  font-family: 'Exo 2', sans-serif;
  background-color: #ffe500;
  border: none;
}

html, body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

footer {
  background-color: #1877d6;
  padding: 2em;
  color: white;
}

footer ul {
  list-style: none;
}

footer li {
  display: inline;
  padding: 2em;
}

@media (max-width: 550px ){
  h1 {
    font-size: 1.25em;
  }
}
h3 {
    padding: 0%;
}